$primary: #B46AFD;
$secondary: #6AC0FD;
$white: #F7FDFF;
// -----------------------------------------General----------------------------------------------//
body {
	font-family: 'Asap', sans-serif;
}

.text-primary {
  color:$primary !important;
}

.text-secondary {
  color: $secondary !important;
}

.text-white {
	color: $white !important;
}
.navbar.navbar-expand-lg {
	background: linear-gradient(90deg, #D8B5FC, #B5DEFC);
	opacity: .9;
	z-index: 2;
	position: fixed;
	width: 100%;
}

.navbar-brand span {
  @media (max-width: 767px) {
    display: none;
  }
}

.navbar-toggler-icon {
  background: #B5DEFC;
}

img.brand-logo {
	width: 10%;
	margin-right: 5px;
  @media (min-width: 767px) {
    width:5%;
  }
}

.navbar .nav-link .dropdown-item {
	color: #311F42;
}

.nav-item .nav-link:hover {
	font-weight: 600;
	font-size: 1.05rem;
}

.navbar .nav-item.active, .navbar .nav-link.active {
	color: white;
	font-weight: 600;
	text-decoration: underline;
}

div .dropdown-menu {
	background: #F5EFFC;

	.dropdown-item:hover {
		font-weight: 600;
		font-size: 1.05rem;
	}
}

li.dropdown.show {
	font-weight: 600;
	font-size: 1.05rem;
}

.header-design {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  div {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
  }

	div img {
		width:5%;
		@media (min-width: 767px){
			width: 10%;
		}
	}

  div h1 {
    margin: 0;
    padding: 0;
    font-size: 3.5rem;
		@media (min-width: 767px){
			font-size: 6rem;
		}
  }

	div p{
		font-size: 1rem;
		@media (min-width: 767px){
		font-size: 2rem;
		}
	}
}

.header-design:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/stack3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 50% 50%/0 0 80% 80%;
  transform: scaleX(1.5);
}

.description {
	border: 5px dashed $primary;
}

footer {
	background: linear-gradient(90deg, #D8B5FC, #B5DEFC);
}

// -------------------Home Page
section.contact.scroll-header {
  border: 3px dashed $primary;
  background: url("../images/sounds3.jpg");
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.services-card .card-title {
	font-size: 2rem;
}

.carousel-inner{
  background: linear-gradient(90deg, #D8B5FC, #B5DEFC);
	.carousel-item{
	  height: 25rem;
	}
}

.testimonial-text {
	font-size: 1.5rem;
	margin-top: 25%;
	@media (min-width: 767px){
		font-size: 2rem;
		margin-top: 15%;
	}
	@media (min-width: 992px){
		margin-top: 10%;
	}
	@media (min-width:1200px){
		margin-top: 5%;
		font-size: 2.5rem;
	}
}

img.testimonial-img{
  width: 15%;
	@media (min-width:767px){
		width: 10%;
	}
}

.abc{
	margin-top: 10%;
	font-size: 1rem;
}

.contact-button .btn {
	margin: 0;
}

// -------------------Facilities Page
.facilities.header-design {
	height: 50vh;
}

.facilities.header-design:before {
  background: url("../images/toys2-2.jpg");
  background-attachment: fixed;
  background-position: center;
	background-size: cover;
}

.facilities-cards .card-title {
	font-size: 2rem;
}

// -------------------Events Page
.events.header-design {
	height: 50vh;
}

.events.header-design:before {
  background: url("../images/child3-2.jpg");
  background-attachment: fixed;
  background-position: top;
	background-size: cover;
}

// -------------------Gallery Page
.gallery.header-design {
	height: 50vh;
}

.gallery.header-design:before {
  background: url("../images/letters3-2.jpg");
  background-attachment: fixed;
  background-position: center;
	background-size: cover;
}

.gallery-description {
	border: 5px dashed $primary;
}

.gallery-img .lightbox img {
	width: 100%;
	margin-bottom: 30px;
	transition: 0.2s ease-in-out;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.gallery-img .lightbox img:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

// ------------------Contact Page
.contact.header-design {
	height: 50vh;
}

.contact.header-design:before {
  background: url("../images/kids2-2.jpg");
  background-attachment: fixed;
  background-position: center;
	background-size: cover;
}

.input-form {
	border: 8px dashed #D8B5FC;
	}

button.btn {
	margin-left: 50px;
	background: linear-gradient(90deg, #D8B5FC, #B5DEFC);
	border: none;
}

button.btn:hover {
	font-weight: 600;
	color: white;
	background: linear-gradient(90deg, #B5DEFC, #D8B5FC);
}
